<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans     
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc 
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- Scan the JavaConfig -->
	<context:component-scan base-package="com.mkyong.form.config" />

	<bean id="mfaLoginDeviceRepository" class="com.foliofn.entities.jdbc.repository.MfaLoginDeviceRepository">
		<property name="staticFolioJdbcTemplate" ref="folio1.jdbcTemplate" />
	</bean>

	<!-- <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
		<property name="staticFolioJdbcTemplate" value="com.foliofn.entities.jdbc.repository.MfaLoginDeviceRepository" />
		<property name="arguments">
			<list>
				<ref bean="folio1.jdbcTemplate" />
			</list>
		</property>
	</bean> -->
	
	<bean id="folio1.jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<qualifier value="folio1" />
		<property name="dataSource">
			<bean class="org.springframework.jdbc.datasource.SingleConnectionDataSource">
				<property name="driverClassName" value="com.sybase.jdbc4.jdbc.SybDriver" />
				<property name="url" value="jdbc:sybase:Tds:drdapft.foliofn.com:8100/folio1" />
				<property name="username" value="folio1" />
				<property name="password" value="perlab2000" />
			</bean>
		</property>
	</bean>
	 
	<bean id="verificationUserRepository" class="com.foliofn.verification.repositories.ldap.LdapVerificationUserRepository">
    	<property name="ldapTemplate" ref="verificationUserRepositoryLdapTemplate" />
    	<property name="policyRepository" ref="verificationPolicyRepository" />
    	<property name="userDistinguishedNameFormat" value="uid=%s,ou=users"/>
    </bean>
    
    <bean id="verificationPolicyRepository" class="com.foliofn.verification.repositories.ldap.LdapVerificationPolicyRepository">
    	<property name="ldapTemplate" ref="verificationUserRepositoryLdapTemplate" />
    	<property name="policyDistinguishedNameFormat" value="cn=%s,ou=system" />
    </bean>
        
    <bean id="verificationUserRepositoryLdapTemplate" class="org.springframework.ldap.core.LdapTemplate">
		<constructor-arg ref="pooledLdapContextSource" />
	</bean>
    
	<bean id="pooledLdapContextSource" class="org.springframework.ldap.pool.factory.PoolingContextSource">
      <property name="contextSource" ref="verificationUserRepositoryContextSource" />
   </bean>
   
    <bean id="verificationUserRepositoryContextSource" class="org.springframework.ldap.core.support.LdapContextSource">
		<property name="url" value="ldap://devldap1.foliofn.com:389" />
		<property name="base" value="dc=verification,dc=foliofn,dc=com" />
		<property name="userDn" value="cn=admin,cn=Administrators,cn=dscc" />
		<property name="password" value="testpass" />
		<property name="pooled" value="false" />
		<property name="dirObjectFactory" value="org.springframework.ldap.core.support.DefaultDirObjectFactory" />
	</bean>
	
<!--     <util:map id="verificationPolicyMap" value-type="java.lang.String" key-type="java.lang.String">
        <entry key="I" value="FolioInstitutionalVerificationPolicy" />
        <entry key="N" value="FolioClientVerificationPolicy" />
        <entry key="R" value="FolioInvestingVerificationPolicy" />
    </util:map>	 -->
	

<!-- 	<bean id="folio1.jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<qualifier value="folio1"/>
		<property name="dataSource" >
			<bean id="mysql_local" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
				<property name="driverClassName" value="com.mysql.jdbc.Driver" />
				<property name="url" value="jdbc:mysql://localhost:3306/test" />
				<property name="username" value="root" />
				<property name="password" value="root" />
			</bean>	
		</property>
	</bean> -->


</beans>